* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

img {
  display: block;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  height: 73px;
  border-bottom: 1px solid #e5e9f2;
}

.header-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
}

.nav {
  display: flex;
  gap: 32px;
  font-weight: bold;
  font-size: 14px;
  color: #18191f;
  line-height: 1;
  margin-top: -2px;
}

.nav-link {
  color: #18191f;
  text-decoration: none;
}

.nav-link:hover {
  color: #8c30f5;
}

.store {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.main {
}

.main-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  width: 540px;
  font-size: 18px;
  color: #18191f;
}

.main-img {
}

.main-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.36;
}
.main-text {
  margin-bottom: 32px;
}
.main-content p {
  margin: 0;
  line-height: 1.78;
}

.button {
  display: inline-block;
  height: 62px;
  background: #8c30f5;
  border-radius: 8px;
  padding: 0 35px;
  font-weight: bold;
  font-size: 20px;
  line-height: 62px;
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.footer {
  display: flex;
  align-items: center;
  height: 72px;
  background: #0b0d17;
  color: #d9dbe1;
}

.footer-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
}

.footer-socials {
  display: flex;
  gap: 16px;
}
